<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div><b>Face recognization module</b><br/>Message from MQTT received:<br /><span>Person Id:</span>{{personId}}</div>
